.consultation-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    margin-bottom: 30px;
  }

  &__text {
    margin-bottom: 30px;
    text-align: center;
    font-size: 41px;
    line-height: 120%;
    @include media(max, 451) {
      font-size: 23px;
      line-height: 120%;
    }
  }

  &__number {
    font-size: 61px;
    line-height: 110%;
    transition: all $transition;
    @include media(max, 551) {
      font-size: 34px;
      line-height: 100%;
    }
    @include hover {
      color: $color-blue;
    }
  }
}



