mixin consultation()
  .consultation-container
    h2 Получить консультацию
      p.consultation-container__text Позвоните и мы проконсультируем вас
      a.consultation-container__number(href="tel:+74952830748") +7 495 283 07 48
