.select {
  position: relative;
  max-width: 394px;
  width: 100%;
  margin-right: 50px;
  font-size: 16px;
  color: $color-grey-medium;
  &__active {
  height: 61px;
	padding: 19px 15px 21px 20px;
	border-radius: 4px;
	border: 1px solid $color-grey-medium;
	font-size: 16px;
	cursor: pointer;
	position: relative;
	&:before {
	  content: '';
	  position: absolute;
	  @include size(16px, 9px);
	  @include bgImage(no-repeat, center, contain, '../../img/image/arrow-down.png');
	  top: 50%;
	  right: 15px;
	  transform: translate(0, -50%);
	  transition: $transition;
	}
	&.open {
    border: 1px solid $color-black;
	  &:before {
		transform: translate(0, -50%) rotate(180deg);
	  }
	}
  }
  &__text {
	display: -webkit-box;
	-webkit-line-clamp: 1;
	overflow: hidden;
	-webkit-box-orient: vertical;
  }
  &__drop {
    display: none;
    position: absolute;
    z-index: 3;
    width: 100%;
    padding: 20px 20px 22px 20px;
    border-radius: 7px;
    box-shadow: 0px 10px 50px 0px rgba(30, 33, 36, 0.07);
    background-color: #fff;
  }

  &__item {
    position: relative;
    display: block;
    padding-left: 37px;
    cursor: pointer;
    font-size: 16px;
	  color: $color-grey;
    @include hover() {
        &:before {
          background: $color-gradient;
      }

      span {
        color: $color-black-blue;
      }
    }
    &:not(:last-of-type) {
      margin-bottom: 22px;
    }
    &:before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 22px;
      height: 22px;
      background: $color-grey-medium;
      border-radius: 6px;
      transition: all $transition;
    }
    &:after {
      content: '';
      position: absolute;
      left: 1px;
      bottom: 1px;
      width: 20px;
      height: 20px;
      background: $color-white;
      background-image: url("../../img/image/check-item.svg");
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 6px;
      transition: all $transition;
    }
	&.active {
    color: $color-black-blue;

    &:before {
      background: $color-gradient;
    }

    &:after {
      background-color: transparent;
    }
	}
    span {
      transition: all $transition;
    }
  }

  &__input {
	display: none;
  }
}
