.overlay {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background: rgba(9, 31, 53, 0.50);
}

.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 500px;
  width: 100%;
  max-height: 80vh;
  background-color: $color-white;
  z-index: 11;
  border-radius: 6px;
  &[data-modal="question"] {
    max-width: 836px;
  }
  &[data-modal="delete"] {
    max-width: 515px;
    width: 100%;
    @include media(max, 650) {
      top: 0;
      bottom: 0;
      left: 0;
      transform: translate(0%, 0%);
      max-width: 100%;
      max-height: 100vh;
    }

    .modal__close {
      top: 15px;
      right: 20px;
    }
  }
  &[data-modal="cookie"] {
    top: auto;
    bottom: 20px;
    max-width: 950px;
    border-radius: 0;
    transform: translateX(-50%);
    @include media(max, 991) {
      max-width: calc(100% - 40px);
    }
    @include media(max, 450) {
      bottom: 0;
      max-width: 100%;
    }

    .modal__container {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      gap: 15px;
      padding: 30px 50px 40px 50px;
      @include media(max, 991) {
        padding: 30px 40px 20px 40px;
      }
      @include media(max, 450) {
        flex-direction: column;
        padding: 20px;
      }


    }

    .modal__text {
      font-size: 20px;
      font-weight: 700;
      line-height: 140%;
      @include media(max, 450) {
        font-size: 18px;
        line-height: 130%;
      }
    }
  }
  &__close {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    &:before, &:after {
      position: absolute;
      content: '';
      top: 50%;
      left: 50%;
      width: 80%;
      height: 1px;
      background-color: $color-black;
      transform: translate(-50%, -50%) rotate(45deg);
    }
    &:after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }

  &__container--another {
    padding: 50px;
    @include media(max, 650) {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      height: 100%;
    }
    @include media(max, 450) {
      padding: 20px;
    }

    .modal__content {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }

    .modal__btns {
      align-items: flex-end;
    }
  }

  &__title {
    margin-bottom: 50px;
    font-size: 41px;
    line-height: 120%;
    @include media(max, 450) {
      margin-bottom: 30px;
      font-size: 23px;
    }
  }

  &__content {
    max-width: 382px;
    width: 100%;
    margin-bottom: 20px;
    @include media(max, 650) {
      text-align: center;
    }
    p {
      line-height: 150%;
      @include media(max, 450) {
        font-size: 16px;
      }
    }
  }

  &__btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 366px;
    width: 100%;
    @include media(max, 450) {
      flex-direction: column;
      justify-content: flex-end;
      gap: 30px;
    }
  }
  &__thanks{
    display: none;


  }
}

