.modal(data-modal="cookie" data-cookie data-days="30")
  .modal__container(data-scroll-container="")
    .modal__text
      p Я соглашаюсь с тем, что владелец сайта использует файлы cookie для повышения удобства работы на сайте
    button.button.button--text-white(data-cookie-agree) Хорошо
