.modal(data-modal="delete")
  .modal__container--another
    .modal__close(data-modal-close="")
    .modal__content
      .modal__title
        span Удалить товар?
      p Вы хотите удалить товар из корзины? Отменить действие будет невозможно.
    .modal__btns
      button.button.button--border.modal__btn--detele
        span Удалить товар
      button.button.button--text-white(data-modal-close="") Отмена
