mixin password()
    .inputholder(data-pass-toggle="") 
        input.inputholder__input(type="password" placeholder="Введите пароль" autocomplete="new-password" data-pass-toggle-input="")
        .password-toggle-icon(data-pass-toggle-icon="")