mixin rating(type, checked)
    - var count = 1;
    .rating&attributes(attributes)
        while count <= 5
            if type === 'input'
                input.rating__input(id=`review-stars-${count}` type="radio" name="rating" value=count checked=count === checked)
                label.rating__item(for=`review-stars-${count}`)
                    svg.rating__item-icon
                        use(href="#icon-star")
            if type === 'static'
                .rating__item(class= count === checked ? 'checked' : '')
                    svg.rating__item-icon
                        use(href="#icon-star")
            - count += 1;

//- Примеры использования

//- +rating("input")

//- +rating("input", 4)

//- +rating("static", 3)

//- +rating("static", 5)(class="review__rating")
