.tabs {
  &__nav {
    display: flex;
    align-items: center;
    width: fit-content;
    border: 1px solid $color-grey;
    border-radius: 10px;
    &-container {
      width: calc(100% + 20px);
      overflow: auto;
      margin-bottom: 80px;
    }
	&-item {
    z-index: 2;
    position: relative;
	  display: flex;
	  align-items: center;
	  justify-content: center;
    border-radius: 10px;
	  padding: 17px 30px;
    font-size: 20px;
    line-height: 130%;
    color: $color-grey;
	  cursor: pointer;
    transition: all $transition;

    span {
      position: relative;
      z-index: 3;
      text-wrap: nowrap;
    }
	  &.active {
      padding: 17px 34px;
      color: $color-black;
      &:before {
        content: '';
        z-index: 1;
        position: absolute;
        top: 1px;
        left: 1px;
        width: calc(100% - 2px);
        height: calc(100% - 2px);
        border-radius: 9px;
        background-color: $color-white;
        transition: all $transition;
      }
      &:after {
        content: '';
        position: absolute;
        width: calc(100% + 2px);
        height: calc(100% + 2px);
        background: $color-gradient;
        top: -1px;
        left: -1px;
        border-radius: 10px;
      }
	  }
	}
  }

  &__folds {
    //padding-left: 368px;
  }

  &__fit {
    &-content {
      max-width: 705px;
    }
    &-text {
      p {
        &:not(:last-child) {
          margin-bottom: 25px;
          @include media(max, 450) {
            margin-bottom: 15px;
          }
        }
        @include media(max, 450) {
          font-size: 16px;
          line-height: 150%;
        }
      }

      ul {
        padding-left: 23px;
        @include media(max, 450) {
          padding-left: 18px;
        }
        li {
          position: relative;
          @include media(max, 450) {
            font-size: 16px;
          }
          &:before {
            content: '';
            position: absolute;
            left: -23px;
            top: 8px;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            border: 2px solid $color-grey;
            @include media(max, 450) {
              left: -18px;
            }
          }

          &:not(:last-child) {
            padding-bottom: 20px;
            @include media(max, 450) {
              padding-bottom: 10px;
            }
          }
        }
      }
    }
  }

  &__fold {
	display: none;
	&.open {
	  display: block;
	}
  }
}
