mixin tabs(data)
  .tabs(data-tabs="")
    .tabs__nav-container
      .tabs__nav
        .tabs__nav-item.active(data-tabs-nav="application")
          span Применение
        .tabs__nav-item(data-tabs-nav="installation")
          span Установка
        .tabs__nav-item(data-tabs-nav="construction")
          span Конструкция
        .tabs__nav-item(data-tabs-nav="specifications")
          span Характеристики
        .tabs__nav-item(data-tabs-nav="optical")
          span Оптическая часть
        .tabs__nav-item(data-tabs-nav="management")
          span Управление
    .tabs__folds
      .tabs__fold.open(data-tabs-fold="application")
        .tabs__fit
          .tabs__fit-content
            .tabs__fit-text
              p Светильник предназначен для общего освещения в производственных, складских и технических помещениях.
              ul
                li Световая отдача не менее 135 лм/Вт
                li Пульсация светового потока менее 1%
                li Цветовая температура 3 000, 4 000, 5 000 К
                li Типы КСС: 50х350; 28х1 000; D (1 200), D (900) – косинусные; G (600) – глубокая
                li Степень защиты IP65 позволяет применять светильник в помещениях с повышенным содержанием пыли и влаги.
                li Возможны модификации, работающие в аварийном режиме.
      .tabs__fold(data-tabs-fold="installation")
            .tabs__fit
              .tabs__fit-content
                .tabs__fit-text
                  p Освещение улиц, дорог, площадей, парков, бульваров, коттеджных посёлков, автостоянок, железнодорожных платформ, дворовых территорий, площадей перед торговыми центрами
      .tabs__fold(data-tabs-fold="construction")
        .tabs__fit
          .tabs__fit-content
            .tabs__fit-text
              p Освещение улиц, дорог, площадей, парков, бульваров, коттеджных посёлков, автостоянок, железнодорожных платформ, дворовых территорий, площадей перед торговыми центрами
      .tabs__fold(data-tabs-fold="specifications")
        .tabs__fit
          .tabs__fit-content
            .tabs__fit-text
              p Освещение улиц, дорог, площадей, парков, бульваров, коттеджных посёлков, автостоянок, железнодорожных платформ, дворовых территорий, площадей перед торговыми центрами
      .tabs__fold(data-tabs-fold="optical")
        .tabs__fit
          .tabs__fit-content
            .tabs__fit-text
              p Освещение улиц, дорог, площадей, парков, бульваров, коттеджных посёлков, автостоянок, железнодорожных платформ, дворовых территорий, площадей перед торговыми центрами
      .tabs__fold(data-tabs-fold="management")
        .tabs__fit
          .tabs__fit-content
            .tabs__fit-text
              p Освещение улиц, дорог, площадей, парков, бульваров, коттеджных посёлков, автостоянок, железнодорожных платформ, дворовых территорий, площадей перед торговыми центрами
