.counter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 78px;
  @include media(max, 450) {
    width: 97px;
  }
  .input {
	width: 30px;
	flex: 0 0 30px;
	text-align: center;
  }
}
.count {
  cursor: pointer;
  transition: $transition;

  svg {
    width: 15px;
    height: 15px;
    @include hover() {
      use {
        stroke: $color-black-blue;
      }
    }
    use {
      width: 15px;
      height: 15px;
      stroke: $color-grey;
      transition: all $transition;
    }
  }
  &--disable {
    pointer-events: none;
  }
}
