mixin buttonAllPages
    a.pages-button(href="/pages.html" style={position: 'fixed', 'background-color': 'coral', 'border-radius': '20px 0 0 20px', bottom: '40px', right: '0', padding: '10px', color: 'white', 'font-family': 'monospace'}) Список страниц