mixin accordion(data)
    .accordion(data-accordion=`${data.type ? data.type : ''}`)&attributes(attributes)
        .accordion__toggle(data-accordion-toggle)
            .accordion__title
                span=data.title
            .accordion__btn
        .accordion__content(data-accordion-content)
            .accordion__content-box
                if data.text
                    p=data.text
                else
                    block

//- Пример использования

//- +accordion({
//-     title: "Заголовок 1",
//-     text: "Текст 1",
//- })

//- +accordion({
//-     title: "Заголовок 2",
//- })
//-     p Lorem ipsum dolor sit amet
//-     p Lorem ipsum
//-     a(href="#") Lorem ipsum dolor sit

//- Если необходимо, чтобы при открытии одного аккордиона из группы закрывался другой
//- div(data-accordions-group)
//-     +accordion({
//-         title: "Заголовок 1",
//-         text: "Текст 1"
//-     })
//-     +accordion({
//-         title: "Заголовок 2",
//-         text: "Текст 2"
//-     })(class="faq__item")

//- Если необходим только мобильный или только декстопный аккордеон
//-     +accordion({
//-         title: "Заголовок 1",
//-         text: "Текст 1",
//-         type: "mobile"
//-     })
//-     +accordion({
//-         title: "Заголовок 2",
//-         text: "Текст 2"
//-         type: "desctop"
//-     })(class="faq__item")
