extends ../../template/template.pug
include ../../blocks/heading/heading

block mainwrapper
  +heading({
    breadcrumbs: ["О компании"],
    title: "О компании",
  })
  section.section.about
    .container
      .section-container.section-container--pb-100
        .about__top
          .about__img-wrapper
            img.about__img(src="../../img/image-content/about-banner.png")
          p.about__top-text Компания «Росэкосвет» - инжиниринговая компания, реализующая под ключ проекты по внедрению энергоэффективных технологий
        .about__rows
          .about__row
            .about__row-img-wrapper
              img.about__row-img(src="../../img/image-content/about-img-1.png")
            .about__row-text
              p Мы оказываем полный комплекс услуг по проектированию и строительно-монтажным работам уличного, промышленного, ландшафтного, архитектурного и офисного освещения. В зависимости от задач и бюджета проекта подбираем оборудование ведущих производителей, а также собственного производства. Используем инновационные разработки в области цифровизации управления освещением.
              p Среди наших клиентов региональные и муниципальные структуры, государственные организации, крупные коммерческие компании и производственные предприятия различных форм собственности.
          .about__row
            .about__row-img-wrapper
              img.about__row-img(src="../../img/image-content/about-img-2.png")
            .about__row-text
              p Наши проекты были реализованы в Москве и Московской области, Санкт-Петербурге, Белгороде, Брянске, Твери, Орле, Ярославле, Оренбурге, Астрахани, Ростове-на-Дону, Уссурийске, Улан-Удэ, Челябинске, Ижевске.
              p За проекты в области архитектурного и уличного освещения «Росэкосвет» был трижды удостоен звания Лауреата Евразийской светотехнической премии «Золотой Фотон».
              p В 2020 году «Росэкосвет» стал членом Ассоциации «Национальное объединение организаций в области энергосбережения и повышения энергетической эффективности» (НОА).

        .about__has-project
          p.about__has-project__title Есть проект?
            br
            a.about__has-project__link(href="/feedback") Напишите нам
        .about__blockquote
          p.about__blockquote-author Команда «Росэкосвет»
          p.about__blockquote-text «Мы уверены, что проектные и технологические возможности нашей компании, деловая репутация и партнерские взаимоотношения с ведущими мировыми поставщиками оборудования и IoT-решений являются нашими ключевыми конкурентными преимуществами»
