.section-container {
  border-bottom: 1px solid $color-grey-light;

  &--not-border {
    border: none;
  }

  &--pb-100 {
    padding-bottom: 100px;
    @include media(max, 451) {
      padding-bottom: 40px;
    }
  }
  &--pb-80 {
    padding-bottom: 80px;
    @include media(max, 451) {
      padding-bottom: 40px;
    }
  }
}
