.button {
  display: inline-block;
  border-radius: 40px;
  padding: 17px 35px;
  min-height: 61px;
  background: $color-gradient;
  font-size: 20px;
  font-weight: 700;
  line-height: 130%;
  text-align: center;
  cursor: pointer;
  transition: $transition;
  @include media(max, 450) {
    width: 100%;
    min-height: 49px;
    padding: 12px 35px;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 130%;
  }

  &:hover {
    color: $color-white;
  }

  &--border {
    position: relative;
    z-index: 1;
    &:hover {

      .button {
        background-color: $color-blue;
      }

      &:before {
        opacity: 0;
      }
    }

    &:before {
      content: '';
      z-index: 2;
      position: absolute;
      top: 2px;
      left: 2px;
      width: calc(100% - 4px);
      height: calc(100% - 4px);
      border-radius: 40px;
      background-color: $color-white;
      transition: all $transition;
    }
  }

  &-center {
    display: flex;
    justify-content: center;
  }

  &--order {
    position: fixed;
    z-index: 4;
    bottom: 30px;
    right: 30px;
    max-width: 215px;
    @include media(max, 550) {
      min-height: 37px;
      padding: 9px 15px;
      font-size: 14px;
    }
  }

  &--text-white {
    color: $color-white;
  }

  span {
    position: relative;
    z-index: 3;
  }

  &[disabled] {
    opacity: 0.7;
    pointer-events: none;
  }
}
