.cart {

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    @include media(max, 991) {
      flex-direction: column;
    }
  }

  &__list {
    max-width: 815px;
    width: 100%;
    @include media(max, 1400) {
      max-width: 668px;
    }
    @include media(max, 991) {
      max-width: 100%;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 30px 0;
    @include media(max, 991) {
      justify-content: space-between;
    }
    @include media(max, 650) {
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: flex-start;
      padding: 20px 0;

    }
    &:not(:first-of-type) {
      border-top: 1px solid $color-grey-light;
    }
    &:first-of-type {
      padding-top: 0;
    }
    &-img {
      aspect-ratio: 4/4;
      width: 100px;
      margin-right: 35px;
      @include media(max, 650) {
        width: 50px;
        margin-right: 15px;
      }
    }

    &-info {
      max-width: 461px;
      width: 100%;
      margin-right: 35px;
      @include media(max, 1400) {
        max-width: 373px;
      }
      @include media(max, 991) {
        max-width: 461px;
        margin: 0;
      }
      @include media(max, 650) {
        width: calc(100% - 65px);
      }
    }

    &-chapter {
      margin-bottom: 5px;
      font-size: 14px;
      line-height: 130%;
      color: $color-grey;
      @include media(max, 450) {
        font-size: 12px;
      }
    }

    &-name {
      display: inline-block;
      margin-bottom: 5px;
      text-transform: uppercase;
      font-size: 20px;
      font-weight: 700;
      line-height: 140%;
      transition: all $transition;
      @include hover() {
        color: $color-blue;
      }
      @include media(max, 450) {
        font-size: 18px;
        line-height: 130%;
      }
    }

    &-subname {
      font-size: 16px;
      line-height: 130%;
      @include media(max, 450) {
        font-size: 14px;
        line-height: 130%;
      }
    }

    &-counter {
      max-width: 134px;
      width: 100%;
      margin-right: 35px;
      @include media(max, 1200) {
        max-width: 78px;
      }
      @include media(max, 650) {
        max-width: 97px;
        margin: 20px 50px 0 65px;
      }
    }

    &-delete__img {
      width: 15px;
      height: 15px;
      @include hover() {
        use {
          stroke: $color-black-blue;
        }
      }
      use {
        stroke: $color-grey;
        transition: all $transition;
      }
      @include media(max, 650) {
        margin-top: 20px;
      }
    }
  }

  &__side {
    position: relative;
    max-width: 460px;
    width: 100%;
    padding: 35px 60px;
    overflow: hidden;
    border-radius: 12px;
    background: $color-gradient;
    @include media(max, 1400) {
      max-width: 440px;
    }
    @include media(max, 991) {
      max-width: 100%;
    }
    @include media(max, 650) {
      padding: 15px;
    }

    &:before {
      content: '';
      position: absolute;
      top: 1px;
      left: 1px;
      width: calc(100% - 2px);
      height: calc(100% - 2px);
      border-radius: 12px;
      background: $color-white;
    }

    &-title {
      position: relative;
      margin-bottom: 20px;
      font-size: 41px;
      line-height: 120%;
      @include media(max, 650) {
        margin-bottom: 15px;
        font-size: 23px;
      }

    }
    &-counter {
      position: relative;
      margin-bottom: 20px;
      line-height: 150%;
      @include media(max, 650) {
        margin-bottom: 15px;
        font-size: 16px;
      }
    }
  }
}
