extends ../../template/template.pug
include ../../blocks/heading/heading


block mainwrapper
  +heading({
    breadcrumbs: ["Услуги", "Дизайн и сценарии освещения"],
    title: "Дизайн и сценарии освещения",
  })
  section.section.service
    .container
      .section-container.section-container--pb-100
        .service__img-wrapper
          img(src="../../img/image-content/service-banner.png").service__img
        .page-content
          p Дизайн освещения призван сформировать комфортное пространство в любое время суток, создать необходимую атмосферу, настроение, визуальный эффект. Хорошее освещение работает незаметно, оно всегда уместно и обоснованно.
          p Световой сценарий позволяет преобразить здание, помещение, объект, раскрыть его достоинства и правильно расставить акценты, а также решить комплекс технических задач. В частности:
          ul
            li Поддерживать предписанный стандартами, комфортный и безопасный уровень освещенности
            li Эффективно зонировать пространство
            li Обеспечивать безопасность труда на объекте, повышать производительность и снижать утомляемость на рабочих местах
            li Выполнять декоративные функции
            li Привлекать внимание и формировать клиентский поток
          .img-block.img-block--mt-50
            img(src="../../img/image-content/service-1.png")
            img(src="../../img/image-content/service-2.png")
            img(src="../../img/image-content/service-3.png").img-block__img--full
  section.section.write
    .container
      .section-container.section-container--pb-100
        p.write__text Есть проект?
          a(href="#") Напишите нам
  section.section.stages
    .container
      .section-container.section-container--pb-100
        h2 Этапы работы
        .stages__content
          p Разработка дизайна освещения объекта начинается с анализа объекта и четкой постановки задач. Изучив объект, специалисты «Росэкосвет» разрабатывают концепцию и делают все необходимые расчеты. Концепция предоставляется заказчику в виде презентации из эскизов и схем, демонстрирующих, как будет выглядеть проект освещения, какое оборудование будет использовано, как оно будет расположено и какие эффектов позволит достичь. На стадии разработки концепции уже можно достаточно точно рассчитать сроки и стоимость реализации проекта.
