.logo-slide {

  &__img {
    height: 153px;
    margin: 0 auto 15px auto;
    @include media(max, 1200) {
      height: 123px;
    }
    @include media(max, 360) {
      height: 69px;
      margin: 0 0 15px 0;
    }
  }

  &__name {
    margin-left: 10px;
    @include media(max, 360) {
      margin-left: 5px;
      font-size: 12px;
      letter-spacing: 0.12px;
    }
  }
}

.swiper {
  &-wrapper {
    margin-bottom: 100px;
    @include media(max, 550) {
      margin-bottom: 40px;
    }
  }

  &, &-container {
    @include media(max, 1400) {
      overflow: visible;
    }

  }

  &-pagination {
    position: initial;

    &-progressbar &-progressbar-fill {
      background: $color-gradient;
    }
  }
}



