mixin video-item(data)
  a.video-item(href=`${data.link}`)&attributes(attributes)
    img.video-item__image(src=`../../img/image-content/${data.image}`)
    svg.video-item__icon
      use(href="#icon-youTube-small")
