.social {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  &__item {
		display: flex;
		align-items: center;
		justify-content: center;
  }
  &__icon {
    width: 33px;
    height: 33px;
		transition: $transition;
		fill: $color-black;

    &:nth-of-type(2) {
      width: 42px;
      height: 29px;
    }
  }
}
