mixin social
    .social&attributes(attributes)
        a.social__item(href="twitter.com" target="_blank")
            svg.social__icon()
                use(href='#icon-facebook')
        a.social__item(href="facebook.com" target="_blank")
            svg.social__icon()
                use(href='#icon-youTube')
        a.social__item(href="youtube.com" target="_blank")
            svg.social__icon()
                use(href='#icon-instagram')
