mixin pagination()
    .pagination
        span.pagination__arrow.pagination__arrow--prev.disabled
        span.pagination__item.active 1
        a(href="#").pagination__item 2
        a(href="#").pagination__item 3
        span.pagination__item ...
        a(href="#").pagination__item 5
        a(href="#").pagination__arrow.pagination__arrow--next