.news {
  &__tabs {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 80px;

    &-item {
      padding: 17px 35px;
      border-radius: 40px;
      border: 1px solid $color-grey-medium;
      font-size: 20px;
      transition: all .3s ease;
      @include hover() {
        border-color: $color-blue;
        color: $color-blue;
      }
    }
    &-item.active {
      background-color: $color-blue;
      color: $color-white;
      border-color: $color-blue;
    }
  }

  &__block {
    display: flex;
    max-width: 1103px;
    margin-bottom: 30px;
    padding-bottom: 30px;
    @include media(max, 991) {
      flex-direction: column;
      gap: 30px;
    }
    &:not(:last-of-type) {
      border-bottom: 1px solid $color-grey-light;
    }
    &:last-of-type {
      margin-bottom: 20px;
    }
    @include hover() {
      .news__block-img-wrapper {
        &:before {
          opacity: .5;
        }
      }
      .news__block-title {
        border-color: $color-black-blue;
      }
    }

    &-date {
      margin-bottom: 10px;
      font-size: 20px;
      font-weight: 700;
      line-height: 140%;
      color: $color-grey;
    }

    &-title {
      display: inline;
      font-size: 35px;
      font-weight: 400;
      line-height: 120%;
      border-bottom: 1px solid transparent;
      transition: all $transition;
      @include media(max, 451) {
        font-size: 25px;
      }
    }

    &-img-wrapper {
      position: relative;
      overflow: hidden;
      max-width: 363px;
      width: 100%;
      height: 205px;
      margin-left: 35px;
      @include media(max, 991) {
        margin: 0;
      }
      @include media(max, 991) {
        margin: 0;
      }
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        background: $color-gradient;
        transition: all $transition;
      }
    }

    &-img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
