extends ../../template/template.pug
include ../../blocks/heading/heading

block mainwrapper
  +heading({
    breadcrumbs: ["Новости"],
    title: "Новости",
  })
  section.section.news
    .container
      .section-container.section-container--pb-100
        .news__tabs
<<<<<<< HEAD
          a(href="/").news__tabs-item Все
          a(href="/news").news__tabs-item Новости
          a(href="/articles").news__tabs-item Статьи

=======
          a(href="/").news__tabs-item.active Все
          a(href="/news").news__tabs-item Новости
          a(href="/articles").news__tabs-item Статьи
        .news__list
          a(href="#").news__item
            .news__item-text
              p.news__item-date 27 сентября 2021
              p.news__item-title Сейчас всё чаще звучит грохот грома грядущих изменений
          a(href="#").news__item
            .news__item-text
              p.news__item-date 27 сентября 2021
              p.news__item-title Базовый вектор развития оправдал надежды граждан
          a(href="#").news__item
            .news__item-text
              p.news__item-date 27 сентября 2021
              p.news__item-title Эксперты утверждают, что новая модель организационной деятельности одухотворила всех причастных
            .news__item-img-wrapper
              img(src="../../img/image-content/news-item-1.png").news__item-img
          a(href="#").news__item
            .news__item-text
              p.news__item-date 27 сентября 2021
              p.news__item-title Органический трафик ни к чему нас не обязывает
            .news__item-img-wrapper
              img(src="../../img/image-content/news-item-2.png").news__item-img
          a(href="#").news__item
            .news__item-text
              p.news__item-date 27 сентября 2021
              p.news__item-title Сейчас всё чаще звучит грохот грома грядущих изменений
          a(href="#").news__item
            .news__item-text
              p.news__item-date 27 сентября 2021
              p.news__item-title Эксперты утверждают, что новая модель организационной деятельности одухотворила всех причастных
          a(href="#").news__item
            .news__item-text
              p.news__item-date 27 сентября 2021
              p.news__item-title Органический трафик ни к чему нас не обязывает
          a(href="#").news__item
            .news__item-text
              p.news__item-date 27 сентября 2021
              p.news__item-title Органический трафик ни к чему нас не обязывает
            .news__item-img-wrapper
              img(src="../../img/image-content/news-item-3.png").news__item-img
        .button-center
          a(href="/").button.button--border
            span Показать ешё
>>>>>>> fd58646a8e9cc915d2a918707214e1960651e00c
