extends ../../template/template.pug
include ../../blocks/heading/heading

block mainwrapper
  +heading({
    breadcrumbs: ["Новости"],
    title: "Новости",
  })
  section.section.news
    .container
      .section-container.section-container--pb-100
        .news__tabs
          a(href="/").news__tabs-item.active Все
          a(href="/news").news__tabs-item Новости
          a(href="/articles").news__tabs-item Статьи
        .news__list
          a(href="#").news__block
            .news__block-text
              p.news__block-date 27 сентября 2021
              p.news__block-title Сейчас всё чаще звучит грохот грома грядущих изменений
          a(href="#").news__block
            .news__block-text
              p.news__block-date 27 сентября 2021
              p.news__block-title Базовый вектор развития оправдал надежды граждан
          a(href="#").news__block
            .news__block-text
              p.news__block-date 27 сентября 2021
              p.news__block-title Эксперты утверждают, что новая модель организационной деятельности одухотворила всех причастных
            .news__block-img-wrapper
              img(src="../../img/image-content/news-item-1.png").news__block-img
          a(href="#").news__block
            .news__block-text
              p.news__block-date 27 сентября 2021
              p.news__block-title Органический трафик ни к чему нас не обязывает
            .news__block-img-wrapper
              img(src="../../img/image-content/news-item-2.png").news__block-img
          a(href="#").news__block
            .news__block-text
              p.news__block-date 27 сентября 2021
              p.news__block-title Сейчас всё чаще звучит грохот грома грядущих изменений
          a(href="#").news__block
            .news__block-text
              p.news__block-date 27 сентября 2021
              p.news__block-title Эксперты утверждают, что новая модель организационной деятельности одухотворила всех причастных
          a(href="#").news__block
            .news__block-text
              p.news__block-date 27 сентября 2021
              p.news__block-title Органический трафик ни к чему нас не обязывает
          a(href="#").news__block
            .news__block-text
              p.news__block-date 27 сентября 2021
              p.news__block-title Органический трафик ни к чему нас не обязывает
            .news__block-img-wrapper
              img(src="../../img/image-content/news-item-3.png").news__block-img
        .button-center
          a(href="/").button.button--border
            span Показать ешё

