.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  background-color: $color-white;


  &__row {
    padding: 13px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    @include media(max, 1400) {
      gap: 15px;
    }
    @include media(max, 991) {
      flex-direction: row-reverse;
    }
    @include media(max, 451) {
      padding: 17px 0 9px 0;
    }
  }

  &__burder {
    position: relative;
    display: none;
    width: 25px;
    height: 25px;

    span {
      position: absolute;
      top: 8px;
      width: 25px;
      height: 2px;
      background-color: $color-black-blue;
      transition: all $transition;

      &:last-of-type {
        top: 15px;
        width: 17px;
      }
    }

    &.active {
      span {
        &:first-of-type {
          transform: rotate(45deg);
        }
        &:last-of-type {
          top: 8px;
          width: 25px;
          transform: rotate(-45deg);
        }
      }
    }

    @include media(max, 991) {
      display: block;
    }
  }

  &__logo {
    max-height: 23px;

    img {
      min-height: 23px;
    }
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25px;
    max-width: 953px;
    width: 100%;
    //margin-left: auto;
    //margin-right: 70px;
    //margin-top: 4px;
    margin: 4px 70px 0 auto;
    @include media(max, 1400) {
      margin-right: 60px;
    }
    @include media(max, 1025) {
      max-width: 100%;
    }
    @include media(max, 991) {
      position: absolute;
      top: 57px;
      bottom: 0;
      left: 0;
      right: 0;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      height: 0;
      margin: 0;
      padding: 0 33px;
      overflow: hidden;
      background-color: $color-white;
      transition: all $transition;

      &.active {
        padding: 50px 33px;
        overflow: auto;
        @include adaptive-height();
      }
    }
  }

  &__lang {
    position: relative;
    transition: all $transition;
    @include media(max, 991) {
      display: none;
    }

    &:hover {
      color: $color-blue;

      &:after {
        width: 100%;
      }
    }

    &--mobile {
      display: none;
      font-size: 30px;
      line-height: 110%;
      @include media(max, 991) {
        display: block;
        margin-bottom: 50px;
      }

      &:before, &after {
        display: none;
      }
    }

    &:before {
      content: '';
      position: absolute;
      left: 0;
      bottom: -4px;
      width: 100%;
      height: 2px;
      background-color: $color-black-blue;
    }

    &:after {
      content: '';
      position: absolute;
      z-index: 2;
      left: 0;
      bottom: -4px;
      width: 0;
      height: 2px;
      background: $color-gradient;
      transition: all $transition;
    }
  }

  &__subtitle {
    display: none;
    margin-bottom: 15px;
    font-size: 14px;
    color: $color-grey;
    @include media(max, 991) {
      display: block;
    }
  }

  &__nav {
    @include media(max, 1200) {
      width: 600px;
    }
    @include media(max, 1025) {
      width: 530px;
    }

    .nav__list {
      @include media(max, 991) {
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
        margin-bottom: 12px;
      }
    }

    .nav__link {
      @include media(max, 991) {
        font-size: 30px;
        line-height: 110%;
      }
    }
  }

  &__phone {
    position: relative;
    transition: all $transition;
    @include media(max, 991) {
      margin-bottom: 20px;
      font-size: 30px;
      line-height: 110%;
    }

    &:hover {
      color: $color-blue;

      &:before {
        width: 100%;
      }
    }

    &:before {
      content: '';
      position: absolute;
      left: 0;
      bottom: -2px;
      width: 0;
      height: 2px;
      background: $color-gradient;
      transition: all $transition;
    }
  }

  &__email {
    display: none;
    @include media(max, 991) {
      display: block;
      margin-bottom: 36px;
    }
  }

  &__social.social {
    display: none;
    @include media(max, 991) {
      display: flex;
      padding-bottom: 50px;
    }
  }

  &__cart {
    position: relative;
    margin-right: 12px;
    transform: translateY(3px);

    &-icon {
      width: 25px;
      height: 25px;
    }

    &-item {
      display: block;
      position: absolute;
      top: 0;
      right: -3px;
      background: $color-red;
      padding: 2px 5px 0;
      border-radius: 8px;
      font-size: 12px;
      line-height: 100%;
      font-weight: 700;
      color: $color-white;
    }
  }

}

