include ../logo/logo.pug
include ../nav/nav.pug
include ../../blocks/social/social


.ref-header
header.header(data-lock-scroll)
    .container
        .header__row
          button.header__burder(data-header-burger)
            span
            span
          +logo("logo.svg")(class="header__logo")
          .header__menu(data-header-menu)
            .header__subtitle Меню
            +nav([
              {text:"Каталог",
              link: '/catalog.html'},
              {text:"Услуги",
              link: '/services.html'},
              {text:"Проекты",
              link: '/projects.html'},
              {text:"Новости",
              link: '/news.html'},
              {text:"О компании",
              link:'/about.html'},
              {text:"Контакты",
              link: 'contacts.html'}])(class="header__nav")
            a(href="/en").header__lang En
            a(href="/en").header__lang.header__lang--mobile In English
            .header__subtitle Контакты
            a(href="tel:+74952830748").header__phone +7 495 283 07 48
            a(href="mailto:mail@rosecosvet.ru").header__email mail@rosecosvet.ru
            +social().header__social
          a(href="/cart.html").header__cart
            svg.header__cart-icon
              use(href="#icon-cart")
            span.header__cart-item 1
