extends ../../template/template.pug
include ../../blocks/heading/heading
include ../../blocks/project/project
include ../../blocks/form-filters/form-filters

block mainwrapper
  +heading({
    breadcrumbs: ["Проекты"],
    title: "Проекты",
  })
  button.button.button--order
    span Заказать проект
  section.section.projects
    .container
      .section-container.section-container--pb-100
        +form-filter(['Уличное и дорожное освещение', 'Архитерктурное освещение'])
        .projects__list
          +project({
            img: 'project-1.png',
            subtitle: "Уличное и дорожное освещение",
            title: "Бульварное кольцо"
          })
          +project({
            img: 'project-2.png',
            subtitle: "Архитерктурное освещение",
            title: "Введенский Владычный женский монастырь"
          })
          +project({
            img: 'project-3.png',
            subtitle: "Промышленные и складские объекты",
            title: "Складской комплекс класса «А»"
          })
          +project({
            img: 'project-4.png',
            subtitle: "Уличное и дорожное освещение",
            title: "Цифровые модули «Ситипорт» на территории ИЦ «Сколково»"
          })
          +project({
            img: 'project-5.png',
            subtitle: "Уличное и дорожное освещение",
            title: "Проспект Красной Армии, Сергиев Посад"
          })
        .button-center
          button.button.button--border
            span Показать еще
