.news__item {
  display: block;
  max-width: 705px;
  @include hover() {
    .news__item-title {
      border-color: $color-black-blue;
    }

    .news__item-image-wrapper {
      &:before {
        opacity: .5;
      }
    }
  }
  &-image-wrapper {
    position: relative;

    &:before {
      content: '';
      position: absolute;
      z-index: 2;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      background: $color-gradient;
      transition: all $transition;
    }
  }

  &-image {
    margin-bottom: 19px;
    object-fit: cover;
  }

  &-date {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 700;
    line-height: 140%;
    color: $color-grey;
    @include media(max, 451) {
      margin-bottom: 15px;
      font-size: 18px;
    }
  }

  &-title {
    display: inline;
    font-size: 35px;
    font-weight: 700;
    line-height: 120%;
    transition: all $transition;
    border-bottom: 1px solid transparent;
    @include media(max, 451) {
      font-size: 20px;
    }
  }

  &-underline {
    width: 100%;
    height: 1px;
    margin-top: 30px;
    background-color: $color-grey-light;
  }
}
