main {
  h1 {
    max-width: 1198px;
    width: 100%;
    margin-bottom: 80px;
    font-size: 110px;
    font-weight: 400;
    line-height: 90%;
    @include media(max, 991) {
      font-size: 80px;
    }
    @include media(max, 690) {
      font-size: 55px;
    }
    @include media(max, 550) {
      text-align: center;
      font-size: 40px;
    }
    @include media(max, 450) {
      margin-bottom: 30px;
      text-align: center;
      font-size: 34px;
      line-height: 100%;
    }
  }
  h2 {
    margin-bottom: 80px;
    text-align: center;
    font-size: 61px;
    font-weight: 400;
    line-height: 110%;
    @include media(max, 450) {
      margin-bottom: 30px;
      font-size: 34px;
      line-height: 100%;
    }
  }
  h3 {
    font-size: 41px;
    font-weight: 400;
    line-height: 120%;
  }
  h4,
  h5,
  h6 {
    margin: 0;
  }

  .h2--mb-70 {
    margin-bottom: 70px;
  }
}
