main {
  h1 {
    max-width: 1198px;
    width: 100%;
    margin-bottom: 80px;
    font-size: 110px;
    font-weight: 400;
    line-height: 90%;
  }
  h2 {
    margin-bottom: 80px;
    text-align: center;
    font-size: 61px;
    font-weight: 400;
    line-height: 110%;
  }
  h3 {
    font-size: 41px;
    font-weight: 400;
    line-height: 120%;
  }
  h4,
  h5,
  h6 {
    margin: 0;
  }
}
