// colors
$color-black: #000000;
$color-white: #FFFFFF;
$color-gradient: linear-gradient(90deg, #00DDE1 -3.59%, #6785ED 48.65%, #FE00FF 101.99%);
$color-cian: #4AC7E9;
$color-blue: #5F6DB3;
$color-black-blue: #091F35;
$color-grey: #888;
$color-grey-medium: #BABABA;
$color-grey-light: #D1D1D1;
$color-bg: #F9F9F9;
$color-red: #F91155;
$color-pink: #D958A0;
$color-star: yellow;

// font-family
$font-Circe: 'Circe', Arial, sans-serif;
// transition

$transition: .3s ease;
$transition-long: .7s ease;
