//theme
@import "var";
@import "mixin";
@import "typography";

//general
@import "fonts";
@import "general";

//blocks
@import "breadcrumbs/_breadcrumbs";
@import "fields/_fields";
@import "button/_button";
@import "logo/_logo";
@import "nav/_nav";
@import "header/_header";
@import "modal/_modal";
@import "footer/_footer";
@import 'social/_social';
@import 'project/_project';
@import 'product-card/_product-card';
@import 'video/_video';
@import 'news/_news';
@import 'container/_container';

//pages
@import "index/_index";

//components
@import 'components/slider/_slider';
//@import 'components/select/_select';
//@import 'components/checkbox/_checkbox';
//@import 'components/radio/_radio';
//@import 'components/password-toggle/_password-toggle';
//@import 'components/rating/_rating';
//@import 'components/accordion/_accordion';
//@import 'components/tabs/_tabs';
//@import 'components/map/_map';
//@import 'components/counter/_counter';
//@import 'components/tooltip/_tooltip';
//@import 'components/scroll-top/_scroll-top';
//@import 'components/pagination/_pagination';
