.incut-form {
  max-width: 394px;
  width: 100%;

  &-wrapper {
    width: fit-content;
    @include media(max, 450) {
      width: 100%;
    }
    &[data-form="feedback"] {
      width: 100%;

      .form__thanks {
        text-align: start;
      }
    }
    &[data-form="cart"] {
      @include media(max, 991) {
        width: 100%;
      }

      .incut-form {
        @include media(max, 991) {
          max-width: 100%;
        }
      }

      .button-wrapper {
        margin-top: 34px;
      }
    }
    &[data-form="question"] {
      @include media(max, 650) {
        display: flex;
        align-items: center;
        width: 100%;
      }
      .incut-form {
        max-width: 100%;
        height: 413px;
      }

      .form__thanks {
        max-width: 415px;
        height: 244px;
        gap: 0;
        text-align: start;
        @include media(max, 650) {
          position: relative;
          text-align: center;
          justify-content: center;
          height: 100%;
          max-width: 100%;

          &-button {
            position: absolute;
            bottom: 0;
          }

        }
        &-title {
          margin-bottom: 50px;
          font-size: 41px;
          line-height: 120%;
          @include media(max, 450) {
            margin-bottom: 30px;
            font-size: 23px;
            line-height: 120%;
          }
        }
        &-text {
          margin-bottom: 30px;
          font-size: 18px;
          font-weight: 400;
          line-height: 150%;
          @include media(max, 650) {
            margin: 0;
          }
        }
        &-button {
          width: fit-content;
          @include media(max, 650) {
            width: 100%;
          }
        }
      }
    }
  }

  &__title {
    margin-bottom: 50px;
    font-size: 41px;
    line-height: 120%;
    @include media(max, 650) {
      margin-bottom: 20px;
      font-size: 23px;
      text-align: center;
    }
  }

  &__fields {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &--grid {
      display: grid;
      grid-template-columns: repeat(2, minmax(150px, 354px));
      grid-template-rows: repeat(4, 61px);
      gap: 20px 30px;
      max-width: 736px;
      width: 100%;
      @include media(max, 651) {
        display: flex;
      }

      .form__inputholder {
        &:nth-child(4) {
          grid-row-start: 1;
          grid-row-end: 3;
          grid-column-start: 2;
        }
      }

      .inputholder__textarea {
        min-height: 223px;
        @include media(max, 650) {
          min-height: 100px;
        }
      }

      .incut-form__bottom {
        grid-row-start: 4;
        grid-column: 1 / span 2;
      }

      .buttonholder {
        margin-top: 10px;
        @include media(max, 650) {
          margin: 0;
        }
      }
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    gap: 35px;
    @include media(max, 651) {
      flex-direction: column-reverse;
      align-items: initial;
      gap: 34px;
    }
  }

  &__policy {
    position: relative;
    max-width: 340px;
    font-size: 16px;
    @include media(max, 450) {
      font-size: 14px;
    }

    a {
      padding-bottom: 5px;
      border-bottom: 1px solid $color-black-blue;
      transition: all $transition;
      @include hover() {
        border-color: transparent;
      }
      @include media(max, 450) {
        display: block;
        width: fit-content;
        padding-bottom: 0;
      }
    }
  }

  &__submit {

  }
}

.form__thanks {
  display: none;
  flex-direction: column;
  gap: 50px;
  max-width: 705px;
  width: 100%;
  @include media(max, 991) {
    gap: 30px;
    text-align: center;
  }

  &-title {
    font-size: 61px;
    line-height: 110%;
    @include media(max, 767) {
      font-size: 40px;
    }
    @include media(max, 450) {
      font-size: 34px;
    }
  }

  &-text {
    position: relative;
    font-size: 20px;
    font-weight: 700;
    line-height: 140%;
    @include media(max, 450) {
      font-size: 18px;
    }
  }
}

.buttonholder {
  margin-top: 56px;
  @include media(max, 450) {
    margin-top: 46px;
  }
}


