.radio {
  display: block;
  width: fit-content;
  position: relative;
  cursor: pointer;
  border-radius: 40px;
  transition: all $transition;
    .radio__input {
        width: 1px;
        height: 1px;
        position: absolute;
        opacity: 0;

        +label,
        +span {
          display: block;
          width: fit-content;
          height: 61px;
          padding: 17px 35px;
          font-size: 20px;
          line-height: 130%;
          cursor: pointer;
          border: 1px solid $color-grey-medium;
          border-radius: 40px;
          background-color: $color-white;
          transition: all $transition;
          @include media(max, 851) {
            padding: 12px 25px;
            font-size: 16px;
          }
          @include media(max, 451) {
            font-size: 14px;
          }
          @include hover() {
            border-color: $color-blue;
          }
        }
        &:not(:checked) {

        }
        &:checked {

          +label,
          +span {
            background-color: $color-blue;
            color: $color-white;
            border-color: $color-blue;
          }
        }
    }
}
