.footer {

  &__container {
    padding-bottom: 78px;
    @include media(max, 361) {
      padding-bottom: 30px;
    }
  }

  &__top {
    max-width: 710px;
    width: 100%;
    padding-bottom: 28px;
    margin-bottom: 55px;

    @include media(max, 451) {
      margin-bottom: 30px;
      padding-bottom: 3px;
    }

    &-text {
      width: fit-content;
      font-size: 110px;
      font-weight: 400;
      line-height: 90%;
      transition: all $transition;

      a {
        display: block;
        width: fit-content;
        height: fit-content;
        padding-bottom: 27px;
        border-bottom: 1px solid $color-black-blue;
        @include hover() {
          border-color: transparent;
        }
        @include media(max, 651) {
          padding-bottom: 3px;
        }
      }
      @include media(max, 991) {
        font-size: 90px;
      }
      @include media(max, 651) {
        font-size: 50px;
        font-weight: 400;
        line-height: 110%;
      }
      @include media(max, 451) {
        margin: 0 auto;
        text-align: center;
        font-size: 30px;
      }
    }
  }

  &__middle {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 76px;
    @include media(max, 1025) {
      flex-direction: column;
      gap: 0;
    }
    @include media(max, 451) {
      margin-bottom: 40px;
    }
  }

  &__text {
    font-size: 27px;
    line-height: 130%;
    transition: all $transition;
    @include hover() {
      color: $color-blue;
    }
    @include media(max, 451) {
      text-align: center;
    }

    &--line-height {
      line-height: 140%;
    }
  }

  &__social {
    margin-top: 22px;
  }

  &__col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
    @include media(max, 1025) {
      &:nth-of-type(1) {
        margin-bottom: 25px;
      }
      &:nth-of-type(2) {
        margin-bottom: 34px;
      }
      &:nth-of-type(3) {
        gap: 10px;
        margin-bottom: 10px
      }
    }
    @include media(max, 451) {
      width: 100%;
      align-items: center;
    }
    &:nth-of-type(2) {
      gap: 0;
      .footer__text {
        font-size: 20px;
        &:not(:last-of-type) {
          margin-bottom: 5px;
        }
        @include media(max, 1025) {
          &:last-of-type {
            margin-bottom: 34px;
          }
        }
      }
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include media(max, 451) {
      flex-direction: column;
      gap: 10px;
    }

    &-text {
      font-size: 16px;
      @include media(max, 451) {
        font-size: 14px;
      }
    }
  }

  &__underline {
    position: relative;
    cursor: pointer;
    transition: all $transition;

    &:hover {
      color: $color-blue;

      &:after {
        width: 100%;
      }
    }

    &:before {
      content: '';
      position: absolute;
      left: 0;
      bottom: -2px;
      width: 100%;
      height: 1px;
      background-color: $color-black-blue;
    }

    &:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -2px;
      width: 0;
      height: 1px;
      background: $color-gradient;
      transition: all $transition;
    }
  }
}
