include ../social/social

footer.footer(data-lock-scroll)
  .container
    .footer__container
      .footer__top
        .footer__top-text Есть проект? Напишите нам
      .footer__middle
        .footer__col
          a.footer__text(href="tel:+74952830748") +74952830748
        .footer__col
          a.footer__text(href="") 129343, Москва, проезд Серебрякова, 6
          a.footer__text(href="mailto:mail@rosecosvet.ru") mail@rosecosvet.ru
          +social(class="footer__social")
        .footer__col
          a.footer__text(href="") Avalon Group
          a.footer__text(href="") Avalon Development
          a.footer__text(href="") Smart Energy
        .footer__col
          a.footer__text(href="/en") In English
      .footer__bottom
        p.footer__bottom-text 2021 © РосЭкоСвет
        a(href="").footer__bottom-text.footer__underline Политика конфиденциальности
        p.footer__bottom-text Разработано
          |
          a.footer__underline(href="texterra.ru") TexTerra
