.product {
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
    margin: 0 0 100px 243px;
    @include media(max, 1400) {
      margin: 0 0 100px 128px;
    }
    @include media(max, 991) {
      flex-direction: column;
      margin: 0 0 100px 0;
    }
    @include media(max, 450) {
      flex-direction: column;
      margin: 0 0 40px 0;
    }
  }

  &__img-wrapper {
    max-width: 860px;
    overflow: hidden;
    @include media(max, 1400) {
      max-width: 765px;
    }
  }

  &__img {
    width: 100%;
    object-fit: cover;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 87px;
    @include media(max, 991) {
      margin: 0;
    }
    @include media(max, 450) {
      width: 100%;
    }
  }

  &__button {
    width: fit-content;
    @include media(max, 450) {
      width: 100%;
    }
  }
}

.characteristics__table {
  max-width: 1440px;
  width: 100%;
  @include media(max, 991) {
    display: block;
    min-width: unset;
  }

  &-head {
    @include media(max, 991) {
      display: none;
    }
  }

  &-body {
    @include media(max, 991) {
      display: block;
    }

    .characteristics__table-row {
      &:nth-of-type(odd) {
        background-color: $color-bg;
        @include media(max, 991) {
          background-color: $color-white;
        }
      }
    }
  }

  &-row {
    &.active {
      .characteristics__table-cell--name {
        &:after {
          transform: rotate(180deg);
        }

      }
    }

    @include media(max, 991) {
      position: relative;
      display: block;
      padding: 30px 0;

      &:first-of-type {
        padding-top: 0;
      }

      &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 220px;
        height: 1px;
        background-color: $color-grey;
      }
    }
    @include hover() {
      .characteristics__table-button {
        opacity: 1;
      }
    }

  }

  &-cell {
    @include media(max, 991) {
      display: none;
    }
    &--name {
      @include media(max, 991) {
        display: block;
        width: fit-content;
        margin: 0 auto;
        padding: 0 0 3px 0 !important;
        text-align: center;
        border-bottom: 1px solid $color-black-blue;

        &:after {
          content: '';
          display: inline-block;
          width: 13px;
          height: 18px;
          margin-left: 5px;
          transform: translateY(20%);
          background-image: url("../../img/image/arrow-down.svg");
          background-position: center;
          background-repeat: no-repeat;
          transition: all $transition;
        }
      }
    }

    &--button {
      margin-bottom: 0;
    }
  }

  &-button {
    position: relative;
    max-height: 49px;
    border-radius: 40px;
    padding: 14px;
    opacity: 0;
    background: $color-gradient;
    transition: all $transition;
    @include hover() {
      &:after {
        opacity: 1;
      }
      .characteristics__table-button__img {
        filter: brightness(0) invert(1);
      }
    }
    &:before {
      content: '';
      z-index: 1;
      position: absolute;
      left: 2px;
      top: 2px;
      width: calc(100% - 4px);
      height: calc(100% - 4px);
      border-radius: 40px;
      background-color: $color-white;
      transition: all $transition;
    }
    &:after {
      content: '';
      z-index: 2;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      border-radius: 40px;
      background-color: $color-blue;
      transition: all $transition;
    }
    &__img {
      position: relative;
      z-index: 3;
      width: 36px;
      height: 21px;
      transition: all $transition;
    }
  }

  &-content {
    display: none;
    @include media(max, 991) {
      display: block;
      overflow: hidden;
      height: 0;
      padding: 0;
      margin-top: 30px;
      transition: all $transition;
    }
  }

  &-item {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    margin-bottom: 25px;
    padding: 0;

    &:last-of-type {
      margin: 0;
    }

    &__title {
      width: 50%;
      font-size: 18px;
      line-height: 130%;
      color: $color-grey-medium;
      @include media(max, 450) {
        font-size: 14px;
      }
    }
    &__caption {
      width: 50%;
      font-size: 18px;
      line-height: 130%;
      @include media(max, 450) {
        font-size: 14px;
      }
    }

    &__button {
      margin-top: 5px;
    }
  }
}

.files {

  &__block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 30px;
    max-width: 1200px;
    width: 100%;
    margin: auto;
    @include media(max, 550) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__item {
    padding: 20px 20px 20px 73px;
    border: 1px solid $color-grey;
    border-radius: 4px;
    @include media(max, 450) {
      padding: 10px 10px 10px 48px;
    }
    @include hover() {
      border-color: $color-black-blue;

      .files__item-title {
        border-color: transparent;
      }
    }

    &-title {
      position: relative;
      display: inline-block;
      margin-bottom: 10px;
      text-underline-offset: 10px;
      text-decoration: underline;
      line-height: 130%;
      transition: all $transition;
      @include media(max, 450) {
        margin-bottom: 6px;
        font-size: 16px;
        text-underline-offset: 6px;
      }
      &:before {
        content: "";
        position: absolute;
        left: -38px;
        width: 23px;
        height: 22px;
        background-image: url("../../img/image/pdf-file.png");
        background-position: center;
        background-repeat: no-repeat;
      }
    }

    &-size {
      font-size: 14px;
      line-height: 130%;
      letter-spacing: 0.14px;
      color: $color-grey;
      @include media(max, 450) {
        font-size: 12px;
        letter-spacing: 0.12px;
      }
    }
  }
}

