.product {
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
    margin: 0 0 100px 243px;
    @include media(max, 1400) {
      margin: 0 0 100px 128px;
    }
    @include media(max, 991) {
      flex-direction: column;
      margin: 0 0 100px 0;
    }
    @include media(max, 450) {
      flex-direction: column;
      margin: 0 0 40px 0;
    }
  }

  &__img-wrapper {
    max-width: 860px;
    overflow: hidden;
    @include media(max, 1400) {
      max-width: 765px;
    }
  }

  &__img {
    width: 100%;
    object-fit: cover;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 87px;
    @include media(max, 991) {
      margin: 0;
    }
    @include media(max, 450) {
      width: 100%;
    }
  }

  &__button {
    width: fit-content;
    @include media(max, 450) {
      width: 100%;
    }
  }
}

.characteristics__table {
  max-width: 1440px;
  width: 100%;

  &-row {
    @include hover() {
      .characteristics__table-button {
        opacity: 1;
      }
    }
  }

  &-cell--button {
    margin-bottom: 0;
  }

  &-button {
    position: relative;
    max-height: 49px;
    border-radius: 40px;
    padding: 14px;
    opacity: 0;
    background: $color-gradient;
    transition: all $transition;
    @include hover() {
      &:after {
        opacity: 1;
      }
      .characteristics__table-button__img {
        filter: brightness(0) invert(1);
      }
    }
    &:before {
      content: '';
      z-index: 1;
      position: absolute;
      left: 2px;
      top: 2px;
      width: calc(100% - 4px);
      height: calc(100% - 4px);
      border-radius: 40px;
      background-color: $color-white;
      transition: all $transition;
    }
    &:after {
      content: '';
      z-index: 2;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      border-radius: 40px;
      background-color: $color-blue;
      transition: all $transition;
    }
    &__img {
      position: relative;
      z-index: 3;
      width: 36px;
      height: 21px;
      transition: all $transition;
    }
  }
}

.files {

  &__block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 30px;
    max-width: 1200px;
    width: 100%;
    margin: auto;
    @include media(max, 550) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__item {
    padding: 20px 20px 20px 73px;
    border: 1px solid $color-grey;
    border-radius: 4px;
    @include media(max, 450) {
      padding: 10px 10px 10px 48px;
    }
    @include hover() {
      border-color: $color-black-blue;

      .files__item-title {
        border-color: transparent;
      }
    }

    &-title {
      position: relative;
      display: inline-block;
      margin-bottom: 10px;
      text-underline-offset: 10px;
      text-decoration: underline;
      line-height: 130%;
      transition: all $transition;
      @include media(max, 450) {
        margin-bottom: 6px;
        font-size: 16px;
        text-underline-offset: 6px;
      }
      &:before {
        content: "";
        position: absolute;
        left: -38px;
        width: 23px;
        height: 22px;
        background-image: url("../../img/image/pdf-file.png");
        background-position: center;
        background-repeat: no-repeat;
      }
    }

    &-size {
      font-size: 14px;
      line-height: 130%;
      letter-spacing: 0.14px;
      color: $color-grey;
      @include media(max, 450) {
        font-size: 12px;
        letter-spacing: 0.12px;
      }
    }
  }
}

