.product-card {
  position: relative;
  width: 100%;
  height: 580px;
  padding: 60px;
  overflow: hidden;
  background-color: $color-bg;
  background-position: bottom right;
  background-repeat: no-repeat;
  @include media(max, 851) {
    left: 0;
    width: 100vw;
    max-width: unset;
    height: 336px;
    padding: 15px 20px 20px 20px;
    transform: translateX(-20px);
  }
  @include media(max, 1024) {
    background-size: 400px;
  }
  @include media(max, 851) {
    background-size: 271px;
  }
  @include hover() {
    .product-card__figure {
      opacity: 0;
    }

    .product-card__more {
      &:before {
        opacity: 0;
      }
    }

    .product-card__name {
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      background-image: $color-gradient
    }
  }

  &__figure {
    position: absolute;
    right: 0;
    bottom: 0;
    transition: all $transition;
  }

  &--large {
    grid-column: 1 / span 2;
    max-width: 100%;
    @include media(max, 1200) {
      grid-column: initial;
    }
    .product-card__img {
      @include media(max, 551) {
        top: 19px;
      }
      @include media(max, 451) {
        top: -47px;
      }
      &-wrapper {
        width: 1021px;
        @include media(max, 1200) {
          top: 57px;
          right: -20px;
          bottom: auto;
          width: 519px;
        }
        @include media(max, 451) {
          top: 158px;
          right: -80px;
          bottom: auto;
          width: 450px;
        }
      }
    }
  }

  &__content {
    width: 100%;
    @include media(max, 451) {
      display: flex;
      justify-content: center;
    }
  }

  &__category {
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 700;
    line-height: 140%;
    color: $color-grey;
  }

  &__name {
    position: relative;
    max-width: 444px;
    margin-bottom: 50px;
    font-size: 35px;
    font-weight: 700;
    line-height: 120%;
    transition: all $transition;
    @include media(max, 451) {
      max-width: 100%;
      margin: 0;
      font-size: 20px;
      font-weight: 700;
      line-height: 110%;
      text-align: center;
    }

    &--min {
      max-width: 353px;
      @include media(max, 451) {
        max-width: 100%;
      }
    }
  }

  &__more {
    position: relative;
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
    @include media(max, 451) {
      display: none;
    }

    &:before {
      content: '';
      position: absolute;
      left: 0;
      bottom: -5px;
      width: 100px;
      height: 1px;
      background-color: $color-black-blue;
      transition: all $transition;
    }
  }

  &__img {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 604px;
    object-position: bottom;
    object-fit: contain;
    @include media(max, 1200) {
      height: auto;
    }
    @include media(max, 551) {
      top: -47px;
    }
    &-wrapper {
      position: absolute;
      right: 0;
      top: 58px;
      width: 519px;
      height: calc(100% - 57px);
      @include media(max, 1200) {
        bottom: 150px;
        width: 350px;
      }
      @include media(max, 551) {
        top: 111px;
        bottom: auto;
        width: 271px;
      }
    }
  }
}
