.page-content {
  position: relative;

  .table-wrapper {
    overflow: auto;
    max-width: 950px;
    margin: 50px auto 50px auto;

    &::-webkit-scrollbar {
      height: 3px;
      background: $color-grey-light;
    }

    &::-webkit-scrollbar-thumb {
      background: $color-gradient;
    }
    @include media(max, 450) {
      margin: 30px auto 40px auto;
      padding-bottom: 20px;
    }
  }
  &-blockquote {
    max-width: 950px;
    margin: 50px auto 50px auto;
    @include media(max, 450) {
      margin: 30px auto 30px auto;
    }
    &__name {
      position: relative;
      display: inline-block;
      margin-bottom: 20px;
      padding-left: 40px;
      line-height: 150%;
      color: $color-grey;
      @include media(max, 450) {
        margin-bottom: 10px;
        padding-left: 35px;
        font-size: 16px;
      }

      &:before {
        content: '';
        position: absolute;
        top: 13px;
        left: 0;
        width: 20px;
        height: 1px;
        background-color: $color-grey;
      }
    }
  }

  p {
    max-width: 705px;
    margin: 0 auto 25px auto;
    line-height: 150%;
    @include media(max, 450) {
      margin: 0 auto 15px auto;
      font-size: 16px;
    }
    &:first-of-type {
      margin-bottom: 50px;
      @include media(max, 450) {
        margin-bottom: 30px;
      }
    }

  }

  ul, ol {
    max-width: 705px;
    margin: 0 auto 25px auto;
    padding-left: 23px;
    @include media(max, 450) {
      padding-left: 18px;
      margin: 0 auto 15px auto;
    }

    li {
      position: relative;
      &:not(:last-child) {
        margin-bottom: 20px;
        @include media(max, 450) {
          margin-bottom: 10px;
          font-size: 16px;
        }
      }

    }
  }

  ul {
    li {
      &:before {
        content: '';
        position: absolute;
        width: 8px;
        height: 8px;
        border: 2px solid $color-grey-medium;
        left: -23px;
        top: 8px;
        border-radius: 100%;
        @include media(max, 450) {
          left: -18px;
        }
      }
    }
  }

  ol {
    padding-left: 30px;
    counter-reset: counter;
    @include media(max, 450) {
      padding-left: 23px;
    }
    li {
      &:before {
        position: absolute;
        left: -30px;
        counter-increment: counter;
        content: counters(counter, ".") ". ";
        color: $color-grey;
        @include media(max, 450) {
          left: -23px;
        }
      }
    }

    ol {
      margin-top: 20px;
      @include media(max, 450) {
        margin-top: 10px;
      }
    }
  }

  figcaption {
    font-size: 16px;
    line-height: 130%;
    color: $color-grey;
    @include media(max, 450) {
      margin-left: 20px;
      font-size: 14px;
    }
  }

  h2 {
    margin: 80px 0 50px 0;
    font-size: 61px;
    line-height: 110%;
    @include media(max, 450) {
      margin: 40px 0 30px 0;
      font-size: 34px;
      line-height: 100%;
    }
  }

  h3 {
    margin: 80px 0 50px 0;
    font-size: 41px;
    line-height: 120%;
    @include media(max, 450) {
      margin: 40px 0 30px 0;
      font-size: 23px;
    }
  }

  blockquote {
    font-size: 41px;
    line-height: 120%;
    @include media(max, 450) {
      font-size: 23px;
    }
  }

  table {
    max-width: 100%;

    thead {
      th {
        padding: 0 20px 15px 20px;
        &:first-child {
          padding-left: 25px;
        }
        &:last-child {
          padding-right: 25px;
        }
      }
    }

    tbody {
      tr {
        &:nth-child(odd) {
          background-color: $color-bg;
        }
      }

      td {
        padding: 20px;
        &:first-child {
          padding-left: 25px;
        }
        &:last-child {
          padding-right: 25px;
        }
      }
    }
  }

  &__img-block {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 705px));
    gap: 20px;
    max-width: 1440px;
    width: 100%;
    margin: 50px auto;
    @include media(max, 650) {
      grid-template-columns: 1fr;
    }

    img {
      width: 100%;
      height: 100%;
      @include media(max, 650) {
        aspect-ratio: 16/9;
      }
    }
  }

  &__img--full-width {
    max-width: 950px;
    width: 100%;
    margin: 0 auto;
    grid-column: 1 / span 2;
    @include media(max, 1400) {
      max-width: 830px;
    }
    @include media(max, 650) {
      grid-column: 1;
    }
  }

}


